:root {
  --font-weight: 800;
  --font-size: 16px;
  --font-family:
    system-ui,
    "Segoe UI",
    "Roboto",
    "Oxygen-Sans",
    "Ubuntu",
    "Cantarell",
    "Helvetica Neue",
    sans-serif;
  --border-color: #ccc;
  --item-padding: 10px;
  --item-transition: 0.25s all ease-in-out;
  --item-border: 1px solid var(--border-color);
  --item-border-radius: 5px;
  --item-background: #fff;
  --item-background-hover: #f7f8f9;
  --item-box-shadow: 0 0 0.125rem #f7f8f9;
}

.layout-builder-browser-block-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.layout-builder-browser-block-item>.js-layout-builder-block-link {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--item-padding);
  transition: var(--item-transition);
  text-align: center;
  text-decoration: none;
  border: var(--item-border);
  border-radius: var(--item-border-radius);
  background: var(--item-background);
  box-shadow: var(--item-box-shadow);
  font: var(--font-weight) var(--font-size) var(--font-family);
  font-weight: bold;
}

.layout-builder-browser-block-item>.js-layout-builder-block-link:hover,
.layout-builder-browser-block-item>.js-layout-builder-block-link:focus {
  background: var(--item-background-hover);
}

.layout-builder-browser-block-item img {
  width: 100%;
  margin-bottom: var(--item-padding);
  border-radius: var(--item-border-radius);
}
