.layout-builder-browser-block-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.layout-builder-browser-block-item > .js-layout-builder-block-link {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  transition: 0.25s all ease-in-out;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 0.1875rem;
  background: #fff;
  box-shadow: 0 0 0.125rem #f7f8f9;
  font-weight: bold;
}

.layout-builder-browser-block-item > .js-layout-builder-block-link:hover,
.layout-builder-browser-block-item > .js-layout-builder-block-link:focus {
  background: #f7f8f9;
}

.layout-builder-browser-block-item img {
  margin-bottom: 0.75rem;
  border-radius: 0.1875rem;
}
