:root {
  --font-family:
    system-ui,
    "Segoe UI",
    "Roboto",
    "Oxygen-Sans",
    "Ubuntu",
    "Cantarell",
    "Helvetica Neue",
    sans-serif;
  --font-size: 16px;
  --font-size-small: 12px;
  --font-weight: 600;
  --primary: #003ecc;
  --light: #f2f2f2;
  --outline: 1px solid var(--primary);
  --outline-white: 1px solid var(--light);
  --outline-offset: 2px;
  --outline-offset-inner: -2px;
  --divider-padding: 10px;
  --lb-ops-link-color: #fff;
  --lb-ops-link-dimensions: 26px;
  --lb-ops-link-border: 1px solid #d4d4d8;
  --lb-ops-link-gap: 6px;
  --add-block-padding: 10px;
  --add-block-bg: var(--light);
  --add-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'%3e%3cpath fill='%23787878' d='M0.656,9.023c0,0.274,0.224,0.5,0.499,0.5l4.853,0.001c0.274-0.001,0.501,0.226,0.5,0.5l0.001,4.853 c-0.001,0.273,0.227,0.5,0.501,0.5l1.995-0.009c0.273-0.003,0.497-0.229,0.5-0.503l0.002-4.806c0-0.272,0.228-0.5,0.499-0.502 l4.831-0.021c0.271-0.005,0.497-0.23,0.501-0.502l0.008-1.998c0-0.276-0.225-0.5-0.499-0.5l-4.852,0c-0.275,0-0.502-0.228-0.501-0.5 L9.493,1.184c0-0.275-0.225-0.499-0.5-0.499L6.997,0.693C6.722,0.694,6.496,0.92,6.495,1.195L6.476,6.026 c-0.001,0.274-0.227,0.5-0.501,0.5L1.167,6.525C0.892,6.526,0.665,6.752,0.665,7.026L0.656,9.023z'/%3e%3c/svg%3e");
  --add-svg-white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'%3e%3cpath fill='%23ffffff' d='M0.656,9.023c0,0.274,0.224,0.5,0.499,0.5l4.853,0.001c0.274-0.001,0.501,0.226,0.5,0.5l0.001,4.853 c-0.001,0.273,0.227,0.5,0.501,0.5l1.995-0.009c0.273-0.003,0.497-0.229,0.5-0.503l0.002-4.806c0-0.272,0.228-0.5,0.499-0.502 l4.831-0.021c0.271-0.005,0.497-0.23,0.501-0.502l0.008-1.998c0-0.276-0.225-0.5-0.499-0.5l-4.852,0c-0.275,0-0.502-0.228-0.501-0.5 L9.493,1.184c0-0.275-0.225-0.499-0.5-0.499L6.997,0.693C6.722,0.694,6.496,0.92,6.495,1.195L6.476,6.026 c-0.001,0.274-0.227,0.5-0.501,0.5L1.167,6.525C0.892,6.526,0.665,6.752,0.665,7.026L0.656,9.023z'/%3e%3c/svg%3e");
  --add-section-dimension: 36px;
}

#layout-builder {
  padding: 0;
  border: 0;
}

.layout-builder__link {
  text-decoration: none;
  font: var(--font-weight) var(--font-size) var(--font-family);
}

.layout-builder__link--add-template-to-library {
  display: inline-block;
  margin-block-end: 25px;
  color: var(--light);
  background-color: var(--primary);
}

.layout-builder__add-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--add-section-dimension) * 1.75);
  margin: 0;
  outline: none;
  background: unset;
  padding-block: var(--divider-padding);
}

.layout-builder__add-section>.layout-builder__link {
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: var(--divider-padding) calc(var(--divider-padding) * 2);
  color: var(--light);
  background: var(--primary);
}

.layout-builder__add-section>.layout-builder__link:hover,
.layout-builder__add-section>.layout-builder__link:focus {
  outline: var(--outline-white);
  outline-offset: var(--outline-offset-inner);
}

.layout-builder__add-section>.layout-builder__link::before {
  width: var(--lb-ops-link-dimensions);
  height: var(--lb-ops-link-dimensions);
  content: "";
  background: var(--add-svg-white) transparent center center / 16px no-repeat;
}

.layout-builder__add-section>.layout-builder__link.layout-builder__link--import-from-library::before {
  background: url("./icons/import.svg") transparent center center / 16px no-repeat;
}

.layout-builder__add-section:before {
  position: absolute;
  z-index: 10;
  width: var(--add-section-dimension);
  height: var(--add-section-dimension);
  content: "";
  border-radius: 50%;
  background: var(--primary) var(--add-svg-white) no-repeat center center;
}

.layout-builder__add-section:after {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: var(--primary);
}

.layout-builder__add-section:hover>.layout-builder__link,
.layout-builder__add-section:focus>.layout-builder__link {
  display: inline-flex;
}

.layout-builder-block {
  padding: 0;
}

.layout-builder__region {
  outline: 0;
}

.layout-builder__section {
  position: relative;
  margin-bottom: 0;
  outline: 0;
}

.layout-builder__section:hover {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.layout-builder__section:hover::before {
  position: absolute;
  z-index: 1;
  width: calc(var(--lb-ops-link-dimensions) * 4);
  height: calc(var(--lb-ops-link-dimensions) * 1.5);
  content: "";
  background-color: var(--primary);
}

.layout-builder__section>.layout-builder__link {
  position: absolute;
  z-index: 101;
  top: var(--lb-ops-link-gap);
  display: inline-flex;
  visibility: hidden;
  align-items: center;
  width: auto;
  height: var(--lb-ops-link-dimensions);
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  opacity: 0;
  color: var(--lb-ops-link-color);
  border: 0;
  border-radius: 0;
  background-color: unset;
  background-image: none;
  font-size: var(--font-size-small);
  gap: var(--lb-ops-link-gap);
}

.layout-builder__section:hover>.layout-builder__link {
  visibility: visible;
  opacity: 1;
}

.layout-builder__section>.layout-builder__link::before {
  width: var(--lb-ops-link-dimensions);
  height: var(--lb-ops-link-dimensions);
  content: "";
  border: var(--lb-ops-link-border);
  background-color: #fff !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}

.layout-builder__section>.layout-builder__link.layout-builder__link--remove {
  left: var(--lb-ops-link-gap);
}

.layout-builder__section>.layout-builder__link.layout-builder__link--remove::before {
  background: url("./icons/delete.svg") no-repeat center center;
}

.layout-builder__section>.layout-builder__link.layout-builder__link--configure {
  left: calc(var(--lb-ops-link-dimensions) + calc(var(--lb-ops-link-gap) * 2));
}

.layout-builder__section>.layout-builder__link.layout-builder__link--configure::before {
  background: url("./icons/configure.svg") no-repeat center center;
}

.layout-builder__section>.layout-builder__link.layout-builder__link--add-section-to-library {
  left: calc(calc(var(--lb-ops-link-dimensions) * 2) + calc(var(--lb-ops-link-gap) * 3));
}

.layout-builder__section>.layout-builder__link.layout-builder__link--add-section-to-library::before {
  background: url("./icons/save.svg") no-repeat center center;
}

.layout-builder__add-block {
  outline: var(--outline);
  outline-offset: var(--outline-offset-inner);
  background-color: var(--add-block-bg);
  padding-block: 0;
}

.layout-builder__add-block>.layout-builder__link--add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--add-block-padding);
  background: unset;
}

.layout-builder__add-block>.layout-builder__link--add::before {
  width: var(--lb-ops-link-dimensions);
  height: var(--lb-ops-link-dimensions);
  content: "";
  background: var(--add-svg) transparent center center / 16px no-repeat;
}

.layout-builder__add-block>.layout-builder__link--add:hover,
.layout-builder__add-block>.layout-builder__link--add:focus {
  color: var(--light);
  background-color: var(--primary);
}

.layout-builder__add-block>.layout-builder__link--add:hover::before,
.layout-builder__add-block>.layout-builder__link--add:focus::before {
  background: var(--add-svg-white) transparent center center / 16px no-repeat;
}
