:root {
  --padding-block: 20px;
  --padding-inline: var(--padding-block);
  --layout-item-padding: 15px;
  --layout-icon-spacing: 20px;
  --layout-icon-fill: #353641;
}

.layout-selection {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: var(--item-padding);
}

.layout-selection>li {
  flex: 0 0 19.286%;
}

.layout-selection>li>a {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: var(--layout-item-padding);
  transition: var(--item-transition);
  text-align: center;
  text-decoration: none;
  border: var(--item-border);
  border-radius: var(--item-border-radius);
  background: var(--item-background);
  box-shadow: var(--item-box-shadow);
  font: var(--font-weight) var(--font-size) var(--font-family);
}

.layout-selection>li>a>.layout-icon {
  margin-bottom: var(--layout-icon-spacing);
}

.layout-selection>li>a>.layout-icon rect {
  fill: var(--layout-icon-fill);
}
